
* { 
    font-family: 'Taviraj', serif;
    font-style: Taviraj;
    box-sizing: border-box;
}

.row { width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;
margin: auto;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

img {
    max-width: 100%;
}

h1 { 
    text-transform: uppercase;
    font-size: 4vw;
    margin: 0%;
}
h2 { text-transform: uppercase;
font-size: 2.5vh;}

h3 {
    text-transform: uppercase;
    background-color:rgb(120, 122, 124);
    padding: 3px 20px;
    color: white;
}

h4{
    font-style: oblique;
}
a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .intro {
        display:wrap;
        flex-wrap: wrap;
        width: 100%;
    }
    .blog-summary{
        display:wrap;
        flex-wrap: wrap;
        width: 100%
    }

  
    .picture{
        width: fit-content;
    }

    h2 {
        font-size: 2vh;
    }
}

.intro {
    padding: 10px 20px 10px 20px;
}

.nav-tab {
    background-color: rgb(120, 122, 124);
    border: solid white 2px
    ;

}
#nav-bar {
    position: sticky;
    top: 0%;
    padding-top: 0px;
}

.blog-summary{
    padding: 15px 30px 15px 30px;
    
}

.blog-summary-img {
    max-width: 80%;
    max-height: 50%;

}

.left-align {
    text-align:left;
}